<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:player.properties"/>

    <bean id="idOfBeanOfTeacher"
          class="ru.maxima.Person"
          init-method="onStart"
          destroy-method="onFinish">
        <constructor-arg value="Vitaliy"/>
        <constructor-arg value="32"/>
    </bean>

    <bean id="idOfRadioDinamit"
          class="ru.maxima.RadioDynamit">
        <constructor-arg value="Rammstein - Mutter"/>
    </bean>


    <bean id="idOfRadioMaximum"
          class="ru.maxima.RadioMaximum">
        <constructor-arg value="Red Hot Chili Peppers - Californication"/>
    </bean>

    <bean id="idOfRadioEnergy"
          class="ru.maxima.RadioEnergy">
        <constructor-arg value="Avicii - Levels"/>
    </bean>

    <bean id="idOfRadioDacha"
          class="ru.maxima.RadioDacha">
        <property name="song" value="ABBA - Happy New Year"/>
    </bean>

    <bean id="idRadioPlayer"
          class="ru.maxima.RadioPlayer" scope="prototype">
        <property name="radio" ref="idOfRadioDacha"/>
        <property name="frequencyAM" value="${frequencyAM}"/>
        <property name="frequencyFM" value="${frequencyFM}"/>
    </bean>

</beans>