<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="idOfBeanOfTeacher"
          class="ru.maxima.Person">
        <constructor-arg value="Vitaliy"/>
        <constructor-arg value="32"/>
    </bean>

    <bean id="idOfRadioMaximum"
          class="ru.maxima.RadioMaximum">
        <constructor-arg value="Red Hot Chili Peppers - Californication"/>
    </bean>

    <bean id="idOfRadioEnergy"
          class="ru.maxima.RadioEnergy">
        <constructor-arg value="Avicii - Levels"/>
    </bean>


</beans>